*{
  margin:0;
}
.App {
  text-align: center;
}

nav{
  background-color:blue;
  height:50px;
  line-height: 50px;
  margin-bottom:100px;
}
li{
  list-style:none;
  float:left;
  margin-left:50px;
}
a{
  color:#fff;
  text-decoration: none;
  font-size:20px;
  text-align:center;
}
